{% extends 'TwigBundle:base.html.twig' %}

{% block body %}
    <h1>Page introuvable</h1>

    <p>
        Cette requête n'a pas abouti... Consultez la <a href="/doc">Documentation</a>
    </p>
{% endblock %}