{% extends '@Twig/base.html.twig' %}

{% block body %}
    <h1>Erreur 401 - Non autorisé</h1>

    <p id="error_message">
        Vous n'êtes pas autorisé à consulter cette resource.
    </p>
{% endblock %}