{% extends '@Twig/base.html.twig' %}

{% block body %}
    <h1>Erreur 405 - Méthode non autorisée</h1>

    <p id="error_message">
        Méthode http non autorisée pour cette route
    </p>
{% endblock %}