{% extends 'TwigBundle:base.html.twig' %}

{% block body %}
    <h1>Problème d'authentifcation</h1>

    <p>
        Vous n'avez pas les droits... Consultez la <a href="/doc">Documentation</a>
    </p>
{% endblock %}