{% extends '@Twig/base.html.twig' %}

{% block body %}

    <h1>Erreur 403 - Accès interdit</h1>

    <p id="error_message">
        Vous n'êtes pas autorisé à consulter cette page...
    </p>

{% endblock %}
